<div class="card-body card-dashboard">

    <div class="row">
        <div class="col-8"><h4 class="card-title">Listado de Clientes</h4></div>
        <div class="col-4"><button type="submit" title="Eliminar cuenta" class="btn btn-primary float-right" (click)="abrirFormUsuario(0)">
            <i class="fas fa-user-plus"></i></button></div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let u of usuarios |  paginate: {itemsPerPage: 5, currentPage: pageActualEmpresas} let i = index'>
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ u.name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.age }}</td>
                    <td>{{ u.gender }}</td>
                    <td>
                        <button type="submit" title="Modificar cuenta" class="btn btn-light mr-1" (click)="abrirFormUsuario(u.id)">
                            <i class="fas fa-pen" aria-hidden="true"></i>
                        </button>
                        <button type="submit" title="Eliminar cuenta" class="btn btn-danger" (click)="remove(u.id, i)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActualEmpresas = $event"></pagination-controls>
    </div>
    
</div>

<div class="modal" id="registrarUsuario" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span *ngIf="esEdicion == 0">
                    New User
                </span>
                <span *ngIf="esEdicion > 0">
                    Update User - {{ usuario.name }}
                </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarFormUsuario()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #FormUsuario="ngForm" (ngSubmit)="save(esEdicion)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombreUsuario">Name</label>
                        <input type="text" class="form-control" id="name_usuario" name="name_usuario" #fieldNameUsuario="ngModel" [(ngModel)]="usuario.name" required>
                        <p class="block-tag text-right" *ngIf="fieldNameUsuario.invalid && (fieldNameUsuario.dirty || fieldNameUsuario.touched)">
                            <small class="badge badge-default badge-danger" *ngIf="fieldNameUsuario.errors.required">
                                Campo requerido
                            </small>
                        </p>
                        <label for="emailUsuario">Email</label>
                        <input type="text" class="form-control" id="email_usuario" name="email_usuario" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@+[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" #fieldEmailUsuario="ngModel" [(ngModel)]="usuario.email" required>
                        <p class="block-tag text-right" *ngIf="fieldEmailUsuario.invalid && (fieldEmailUsuario.dirty || fieldEmailUsuario.touched)">
                            <small class="badge badge-default badge-danger" *ngIf="fieldEmailUsuario.errors.required">
                            Campo requerido
                        </small>
                            <small class="badge badge-default badge-danger" *ngIf="fieldEmailUsuario.errors.pattern">
                            No es un correo con formato válido
                        </small>
                        </p>
                        <label for="edadUsuario">Age</label>
                        <input type="number" class="form-control" id="edad_usuario" name="edad_usuario" #fieldEdadUsuario="ngModel" [(ngModel)]="usuario.age" required>
                        <p class="block-tag text-right" *ngIf="fieldEdadUsuario.invalid && (fieldEdadUsuario.dirty || fieldEdadUsuario.touched)">
                            <small class="badge badge-default badge-danger" *ngIf="fieldEdadUsuario.errors.required">
                            Campo requerido
                        </small>
                        </p>
                        <label for="generoUsuario">Gender</label>
                        <select required class="form-control" name="detalles" [(ngModel)]="usuario.gender">
                            <option *ngFor="let genero of generos" [ngValue]="genero">
                                {{genero}}
                            </option>
                        </select>
                        <label for="paswordUsuario">Password</label>
                        <input type="password" class="form-control" id="password_usuario" name="password_usuario" #fieldPasswordUsuario="ngModel" [(ngModel)]="usuario.password" required>
                        <p class="block-tag text-right" *ngIf="fieldPasswordUsuario.invalid && (fieldPasswordUsuario.dirty || fieldPasswordUsuario.touched)">
                            <small class="badge badge-default badge-danger" *ngIf="fieldPasswordUsuario.errors.required">
                                Campo requerido
                            </small>
                        </p>
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cerrarFormUsuario()">Close</button>
                    <button [disabled]="!FormUsuario.valid" type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>