<div class="card-body card-dashboard">
    <form #FormUsuario="ngForm">
        <div class="form-group">
            <label for="nombreUsuario">Name</label>
            <input type="text" class="form-control" id="name_usuario" name="name_usuario" #fieldNameUsuario="ngModel" [(ngModel)]="formData.name" required>
            <p class="block-tag text-right" *ngIf="fieldNameUsuario.invalid && (fieldNameUsuario.dirty || fieldNameUsuario.touched)">
                <small class="badge badge-default badge-danger" *ngIf="fieldNameUsuario.errors.required">
                    Campo requerido
                </small>
            </p>
            <label for="emailUsuario">Email</label>
            <input type="text" class="form-control" id="email_usuario" name="email_usuario" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@+[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" #fieldEmailUsuario="ngModel" [(ngModel)]="formData.email" required>
            <p class="block-tag text-right" *ngIf="fieldEmailUsuario.invalid && (fieldEmailUsuario.dirty || fieldEmailUsuario.touched)">
                <small class="badge badge-default badge-danger" *ngIf="fieldEmailUsuario.errors.required">
                    Campo requerido
                </small>
                <small class="badge badge-default badge-danger" *ngIf="fieldEmailUsuario.errors.pattern">
                    No es un correo con formato válido
                </small>
            </p>
            <label for="edadUsuario">Age</label>
            <input type="number" class="form-control" id="edad_usuario" name="edad_usuario" #fieldEdadUsuario="ngModel" [(ngModel)]="formData.age" required>
            <p class="block-tag text-right" *ngIf="fieldEdadUsuario.invalid && (fieldEdadUsuario.dirty || fieldEdadUsuario.touched)">
                <small class="badge badge-default badge-danger" *ngIf="fieldEdadUsuario.errors.required">
                    Campo requerido
                </small>
            </p>
            <label for="generoUsuario">Gender</label>
            <select required class="form-control" name="detalles" [(ngModel)]="formData.gender">
                <option *ngFor="let genero of generos" [ngValue]="genero">
                    {{genero}}
                </option>
            </select>
            <!--<div class="text-right">
                <small class="badge badge-default badge-danger" *ngIf="problemasSeleccionados.length == 0">
                    Campo requerido
                </small>
            </div>-->
        </div>

        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
</div>