<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <div class="mb-3">
                <form (ngSubmit)="login()" #FormLogin="ngForm">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese el email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@+[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" #fieldEmailUsuario="ngModel" [(ngModel)]="formData.email" required>
                    <p class="block-tag text-right" *ngIf="fieldEmailUsuario.invalid && (fieldEmailUsuario.dirty || fieldEmailUsuario.touched)">
                        <small class="badge badge-default badge-danger" *ngIf="fieldEmailUsuario.errors.required">
                            Campo requerido
                        </small>
                        <small class="badge badge-default badge-danger" *ngIf="fieldEmailUsuario.errors.pattern">
                            No es un correo con formato válido
                        </small>
                    </p>
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese el password" #fieldPasswordUsuario="ngModel" [(ngModel)]="formData.password" required>
                    <p class="block-tag text-right" *ngIf="fieldPasswordUsuario.invalid && (fieldPasswordUsuario.dirty || fieldPasswordUsuario.touched)">
                        <small class="badge badge-default badge-danger" *ngIf="fieldPasswordUsuario.errors.required">
                            Campo requerido
                        </small>
                    </p>
                    <br>
                    <button type="submit" class="btn btn-primary" [disabled]="!FormLogin.valid">
                         Iniciar
                        Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>